<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.hellingers.mapper.RecommendUserMapper">

    <!--      남이 나를 팔로우하면 1(ture)가 출력  -->
    <select id="random3People" resultType="int">
        select count(*)
        from followings
        where to_id=#{from_id} and from_id=#{to_id}
    </select>


</mapper>