// Default variable overrides
// 기본 컬러 커스텀,, variables 위쪽에 명시
$primary: rgb(255,219,89, .73);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1100px,
  xxl: 1400px
);

$modal-backdrop-opacity: 0;


// bootstrap custom
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/bootstrap";
